    body {

      background-color: red;
      font-size: 10px;
    }
  
  
  @media only screen and (min-width: 301px) and (max-width:768px) {
    body {
      background-color:green;
      font-size: 15px;
    
      display:flex;
      flex-flow: row wrap;
    }
    
    #small{
        flex:2;
    }
    #medium{
        flex:1;
    }
        
  }

  @media screen and (min-width: 769px){
      body{
          background-color: blue;
          font-size: 20px;
          display: flex;
          flex-direction: row;
      }
    
    
    }

   
    

  

  
  




  

